@import-normalize;
@import './fonts/proba_pro.css';


* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Proba Pro', Arial, sans-serif;
  background-color: #F2F2F2;
}

.form {
  min-width: 335px;
  margin: 10vh 0;
  padding: 34px 39px 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius:4px;
  text-align: center;
}

.form-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #333333;
}

.form-subtitle {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  font-size: 13px;
  font-weight: 300;
  line-height: 15px;
  color: #8f8f8f;
}

.form-group {
  display:flex;
  margin-bottom: 34px;
}

.input-field {
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group .input-field {
  width: 172px;
}

.form-group  .input-field:not(:last-child) {
  margin-right: 18px;
}

.input-label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: #8f8f8f;
  text-align: left;
}

.input {
  width: 100%;
  padding: 6px 0;
  font-family: 'Proba Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border: 0;
  border-bottom: 1px solid #e2e2e2;
  outline: none;
}

.input:not(:placeholder-shown),
.input:focus {
  border-bottom: 1px solid #4285f4;
}

.input-label {
  font-size: 18px;
  line-height: 22px;
  color: #8F8F8F;
  transform: translateY(24px);
}

.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
  font-size: 12px;
  transform: translateY(8px);
  transition: all 0.3s
}

.input-error {
  border-bottom: 1px solid #ff4242;
}

.message-error {
  font-size: 10px;
  line-height: 22px;
  color:#ff4242;
}

.btn-container {
  flex-direction: row;
  justify-content: center;
  margin: 48px 0 50px;
}

.btn {
  padding: 14px 64px;
  font-family: 'Proba Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #fafafa;
  background-color: #4285f4;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color:#3874D7;
  color: #fafafa;
}

.btn[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.btn:active {
  background-color:#4285F4;
}

.btn-clear {
  background-color: #e0e0e0;
  color: rgba(38, 38, 38, 0.5);
  margin-right: 20px;
}

